.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: #b6d7ee;
}

.input-container{
    display: flex;
    flex-direction: column;
    background-color: #70bdf0;
    padding: 20px;
    border-radius: 20px;
}

.inputField{
    margin: 10px;
    border-radius: 10px; 
    height: 30px;
}

.play-btn{
    margin: 10px;
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 15px;
    background-color: #219ff3;
    color: #044dc2;
    font-size:20px;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
}

.play-btn:hover {
    transform: scale(1.04);
}

.player-lbl{
    font-size: 25px;
    color: #044dc2;
    margin-right: 10px;
}